


<section>
    {% for v in datos %}
    <div id="CardsTXT" class="card bg-dark text-white">
        <img style="filter: brightness(50%)" src="{{v.img1}}" class="card-img" alt="..." />
        <div class="card-img-overlay">
            <br><br><br>
            <h1 class="card-title">{{v.headline1}}</h1>

            <h2 class="card-title">{{v.headline2}}</h2>
            <p class="card-text">
                {{v.content1}}
            </p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div> 
    {% endfor %}
</section>