<section>
    {% for v in datos %}
    <div class=" shadow-4">
        <a href="#!" onclick="document.getElementById('boton_Modal_iframe_{{v.n}}').click();">

        <div class="row ">
            <div class="col-md-6 gx-5 mb-4 order-md-2">
                <div class="bg-image hover-overlay ripple " data-mdb-ripple-color="light">
                    <img src="{{v.img1}}" class="img-fluid" />
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
            </div>

            <div class="col-md-6 gx-5 mb-4 order-md-{{v.especifico}}">
                <h4><strong>{{v.headline1}}</strong></h4>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                    eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                    sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
                </p>
            </div>
        </div>
    </a>

    </div>
    <br><br>
    {% endfor %}
</section>

